extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home_slider
		.owl-carousel.owl-theme
			.items
				.caption
					h1 Chúng tôi là Fullstack Việt Nam
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eveniet laudantium exercitationem 
			.items
				.caption
					h1 Chúng tôi là Fullstack Việt Nam
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eveniet laudantium exercitationem
			.items
				.caption
					h1 Chúng tôi là Fullstack Việt Nam
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eveniet laudantium exercitationem
	section.home_news
		.container
			.row
				.col-12.mb-5.title
					h2 FullStack 
						span chuyên nghiệp
				.col-md-4.news_items
					a(href="#")
						figure.figure
							.figure-img
								i.fa.fa-eye
								img(src="./img/home_introduction_1.png", alt="")
							figcaption.figure-caption
								h3 Lorem ipsum dolor sit amet
								time 18/8/2018
								p Cum mollitia dolores consectetur dignissimos quo sit nostrum architecto aliquid voluptatibus, itaque nobis possimus quos soluta dolorum
				.col-md-4.news_items
					a(href="#")
						figure.figure
							.figure-img
								i.fa.fa-eye
								img(src="./img/home_introduction_2.png", alt="")
							figcaption.figure-caption
								h3 Lorem ipsum dolor sit amet
								time 18/8/2018
								pconsectetur adipisicing elit. Cum mollitia dolores consectetur dignissimos quo sit nostrum architecto aliquid voluptatibus.
				.col-md-4.news_items
					a(href="#")
						figure.figure
							.figure-img
								i.fa.fa-eye
								img(src="./img/home_introduction_3.png", alt="")
							figcaption.figure-caption
								h3 Lorem ipsum dolor sit amet
								time 18/8/2018
								p Cum mollitia dolores consectetur dignissimos quo sit nostrum architecto aliquid voluptatibus, itaque nobis.
	section.home_trademark
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.items
							img.img-fluid(src="./img/home_logo_1.png", alt="")
						.items
							img.img-fluid(src="./img/home_logo_2.png", alt="")
						.items
							img.img-fluid(src="./img/home_logo_3.png", alt="")
						.items
							img.img-fluid(src="./img/home_logo_4.png", alt="")
						.items
							img.img-fluid(src="./img/home_logo_5.png", alt="")
						.items
							img.img-fluid(src="./img/home_logo_6.png", alt="")
	section.home_links.py-5.mt-md-5
		.container
			.row
				.col-lg-5.col-md-12.mb-4.pl-4
					h5.mb-4 FullStack Vietnam
					p   Mobile: (+84) 969689893
						br
						| Email: admin@fullstackvietnam.com
						br
						| Địa chỉ: 28 đường số 2- City Land - Phường 7 - Gò Vấp
				.col-lg-4.col-sm-6.col-xs-4.pl-4
					h5.mb-4 Links
					ul
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
				.col-lg-3.col-sm-6.col-xs-4.pl-4
					h5.text-hidden.mb-sm-4 Links
					ul
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master
						li
							i.fa.fa-arrow-right.mr-2
							a(href="#") Khóa học Frontend Master