<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row.py-3
			.col-sm-6.footer_text
				p Copyright 2018 by Fullstack Vietnam
			.col-sm-6.footer_icon
				ul.list-inline
					li.list-inline-item
						a(href="#")
							i.fa.fa-facebook
					li.list-inline-item
						a(href="#")
							i.fa.fa-twitter

